<div *ngIf="products !==undefined">
  <p-dataView #dv [value]="products" layout="grid" [rows]="10">
    <ng-template let-product pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <em class="pi pi-tag product-category-icon"></em>
              <span class="product-category">{{product.category}}</span>
            </div>
            <div>
              <span class="product-category">{{product.title}}</span>
            </div>
            <!--            <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
          </div>
          <div class="product-grid-item-image">
            <img [src]="product.images[0]" [alt]="product.name"/>
            <div class="product-name">{{product.name}}</div>
          </div>
          <div class="product-grid-item-rating">
            <div class="product-description">{{product.description}}</div>
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" [disabled]="product.stock ===0  "></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
